@import (reference) "../../variables.less";

.google-login-btn {
    height: 40px;
    background-color: #4285f4;
    color: @main-text-color;
    font-weight: bold;
}

span.google-icon {
    padding-right: 10px;
    color: #ff0000;
    font-weight: bolder;
}
