@import (reference) "../../../variables.less";

.nav-container {
    color: @main-text-color;
    height: 70px;
    background-color: #222029;
    padding: 5px 30px;
}

.view-history {
    background-color: transparent;
    border: none;
    height: 35px;
    margin-left: 20px;
}

.logo-nav-sm-img {
    max-height: 50px;
}

.navbar-brand {
    padding: 0;
}

.get-involved-container {
    margin-right: 150px;
    float: right;
}

.get-involve-icon {
    max-height: 55px;
}
