.nav-container {
    color: #fff;
    height: 45px;
    background-color: #0095d2;
    padding: 5px 30px;
}

.view-history {
    background-color: transparent;
    border: none;
    height: 30px;
    margin-left: 30px;
}

.logo-nav-sm-img {
    max-height: 35px;
}
