@import (reference) "../../variables.less";

.sign-up-container {
    max-width: 400px;
    margin: auto auto;
    background-color: @container-background;
    padding: 25px;
    box-shadow: 1px 2px 8px 2px black;
}

.email-input-div {
    margin-bottom: 30px;
}

#create-account-title{
    font-size: 44px;
    margin-top: 0px; 
}

.btn-register{
    border: none; 
    text-transform: uppercase; 
}

.btn-register-primary{
    height: 40px;
    font-size: 20px; 
}

.btn-register-secondary{
    background-color: #2c2a36; 
}