{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "plugins": [
        "react"
    ],
    "extends": [
        "eslint:all",
        "plugin:react/recommended"
    ],
    "rules": {
        "max-len": [1, 200, 2, {ignoreComments: true}],
        "indent": [1, 4],
        "linebreak-style": [],
        "quotes": [1, "double"],
        "semi": [2, "always"]
    }
}
