@import (reference) "../../variables.less";

.site-list {
    max-width: @container-max-width;
    max-height: @container-max-height;
    overflow: auto;
    margin-bottom: 15px;
}

.text-bold {
    font-weight: bold;
}

.table > tbody > tr > td > .table-cell {
    vertical-align: middle;
}

.logo-img {
    max-width: 300px;
}

.logo-div-container {
    margin: 10px 0 0 20px;
}

.search-text {
    text-align: center;
    color: @main-text-color;
    text-transform: uppercase;
}

.result-container {
    text-align: center;
}

.result-container {
    margin-top: 20px;
}

.sign-in-button {
    margin: 10px 20px 0 0;
    float: right;
}

.history-view {
    max-width: @container-max-width;
    margin: auto auto;
    border: none;
    background-color: transparent;
}

.url-result {
    margin-bottom: 10px;
}

.view-result-btn {
    height: 24px;
    font-size: 12px;
    padding: 2px 8px;
}
