@import (reference) "../../variables.less";

.alert-view {
    max-width: @alert-container-max-width;
    margin: auto auto;
    background-color: @container-background;
    padding: 10px;
    box-shadow: 1px 2px 8px 2px black;
}

.alert-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 52px;
    margin-top: 0px;
}

#warning-icon-div{
    position: absolute;
    right: 0px;
    top: 0px;
}

#alert-row{
    position: relative;
}

label{
    color: #BEBEBE;
    text-transform: uppercase;
    margin-top: 5px;
}

.warning-icon {
    max-width: 50px;
}

.alert-label-column {
    padding: 0px;
}

.label-text {
    margin-top: 8px;
    text-align: right;
}

select.form-control.alert-drop-down, .alert-drop-down:focus {
    background-color: #eb00ff;
    color: #fff;
    border-color: #eb00ff;
}

.alert-button-div {
    text-align: center;
}

.alert-button {
    width: 50%;
    font-size: 22px;
    height: 48px;
}

div.form-group > input.defaultText {
    color: #8c8c8c;
}

.advance-button {
    width: 98%;
    margin-bottom: 10px;
}
