div.result-view {
    padding-top: 0;
}
.tile-row {
    margin-top: 10px;
}

.tile {
    background-color: #468847;
    height: 80px;
    vertical-align: middle;
}

.result-heading {
    font-size: 20px;
}

.result-value {
    font-size: 35px;
}

.measurement {
    font-size: 18px;
}
