@import (reference) "../../../variables.less";

.google-login-btn {
    height: 40px;
    background-image: @button-background-image;
    color: @main-text-color;
    font-weight: bold;
    border-color: @button-border-color;
    text-transform: uppercase;
    margin-bottom: 10px;
}

span.google-icon {
    padding-right: 10px;
    color: #ff0000;
    font-weight: bolder;
    display: none;
}
