@import (reference) "../../../variables.less";

.collapse-button, .collapse-button:focus {
    position: fixed;
    background-color: #eb00ff;
    padding: 5px 8px;
    border-radius: 0 0 10px 0;
    border: none;
}

.collapse-nav-button {
    margin-left: 257px;
}

.collapse-icon {
    font-size: 17px;
    color: #222029;
}

#leftNavContainer {
    background-color: #222029;
    position: fixed;
    width: 255px;
    height: 100vh;
    z-index: 1000;
    left:0;
}

#leftNavContainer.fixed-top-nav-bar {
    margin-top: 80px;
}

.collapse-left-nav {
    position: fixed;
    margin-top: 80px;
}

#leftNav {
	list-style-type: none;
	padding: 0;
}

.nav > li.active {
    background-color: #eb00ff;
}

.nav > li > a {
    color: #fff;
    &:hover, &:focus {
        background-color: #eb00ff;
    }
}
