#leftNavContainer {
    background-color: #222029;
    position: fixed;
    width: 255px;
    height: 100vh;
    z-index: 1000;
    left:0;
}

#leftNavContainer.fixed-top-nav-bar {
    margin-top: 80px;
}

#leftNav {
	list-style-type: none;
	padding: 0;
}

.nav > li.active {
    background-color: #eb00ff;
}

.nav > li > a {
    color: #fff;
    &:hover, &:focus {
        background-color: #eb00ff;
    }
}
