@import (reference) "../../../variables.less";

.collapse-button, .collapse-button:focus {
    position: fixed;
    background-color: #eb00ff;
    padding: 5px 8px;
    border-radius: 0 0 10px 0;
    border: none;
    outline:none;
}

.collapse-nav-button {
    margin-left: 252px;
}

.collapse-icon {
    font-size: 17px;
    color: #222029;
}

#leftNavContainer {
    background-color: #2C2A36;
    position: fixed;
    width: 250px;
    height: 100%;
    z-index: 2;
    left:0;
    box-shadow: 1px 2px 4px 2px black;
}

#leftNavContainer.fixed-top-nav-bar {
    margin-top: 82px;
    overflow: auto;
    padding-bottom: 90px;
}

.collapse-left-nav {
    position: fixed;
    margin-top: 80px;
    z-index: 3;
}

#leftNav {
	list-style-type: none;
    padding: 0;
    background: #222029;
}

.nav > *{
    margin-bottom: 2px;
    background: #2C2A36;
    border-radius: 0px 3px 3px 0px;
    color: #BFBFBF;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.nav > li.active, .panel-body > li.active {
    background-color: #eb00ff;
}

.nav > li.active >a, .panel-body > li.active > a{
    color: white;
}

.nav > li > a, .panel-body > li > a, div.sub-section-panel > div > div.panel-body > li > a {
    color: #BFBFBF;
    text-decoration: none;
    border-radius: 0px 3px 3px 0px;
    padding: 10px 15px;
    &:hover, &:focus {
        background-color: #ea00ff;
        color: white;
    }
}

.left-nav-indicator {
    background-color: #eb00ff;
    height: 350px;
    width: 5px;
}

.tab-with-sub-section {
    width: 100%;
    padding: 10px 15px;
    border: none;
    outline:none;
    &:hover {
        background-color: #ea00ff;
        color: white;
    }
}

.sub-section-panel {
    background: none;
    border: none;
}

ul.sub-nav {
    padding-left: 20px;
}

div.sub-section-panel > div > div.panel-body {
    padding: 0;
}

div.sub-section-panel > div > div.panel-body > li > a {
    display: block;
    padding: 10px 25px;
    height: 40px;
}

.span-icon {
    float: right;
}
