@import (reference) "../../variables.less";

.tests-list {
    // max-width: @table-container-max-width;
    // max-height: @container-max-height;
    // overflow: auto;
    // margin-bottom: 15px;
    margin-left: 270px;
}

select.browser-select, select.execution-time[disabled] {
    margin-bottom: 15px;
    background-color: #000;
    color: #fff;
}

.button-icon {
    font-weight: bold;
}

.button-inline {
    width: 50%;
    display: inline;
    margin-bottom: 15px;
}
