@import (reference) "../../variables.less";

.alert-label {
    margin: 5px 5px;
}

.label-div {
    box-shadow: inset 0 0 2px 2px #222029;
    background-color: rgba(0, 0, 0, 0.5);
}

.add-button {
    display: inline;
    margin-bottom: 15px;
}

.alert-list-wrap-div {
    background-color: #343242;
    padding: 10px;
}

#alert-list thead > tr > th {
    border-bottom: none;
}
