@import (reference) "./variables.less";

@media only screen and (min-width: 600px) {
    html {
        //background: url('../assets/img/background.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
    }
}

@media only screen and (max-width: 600px) {
    html {
        //background: url('../assets/img/background.jpg') no-repeat center center fixed;
        height: 100%;
    }
}

body {
    color: @main-text-color;
    background-color: #e6efec;
}

.root-container {
    padding-top: 10px;
    max-width: @container-max-width;
    margin: auto auto;
}

.table > tbody > .table-row > td {
    vertical-align: middle;
}

.button-all-caps-text {
    text-transform: uppercase;
}

.half-button {
    width: 47%;
}

.half-button:nth-child(2) {
    margin-left: 6%;
}

.input-group, select.form-control {
    border: 2px #a9a9a9 solid;
    border-radius: 4px;
}

.table-bordered {
    border: 2px solid #000;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>td {
    border: 2px solid #000;
}
