@import (reference) "./variables.less";

@media only screen and (min-width: 600px) {
    html {
        background: url('../assets/img/background.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
    }
}

@media only screen and (max-width: 600px) {
    html {
        background: url('../assets/img/background.jpg') no-repeat center center fixed;
        height: 100%;
    }
}

body {
    color: @main-text-color;
    background: none;
}

.root-container {
    padding-top: 100px;
    max-width: @container-max-width;
    margin: auto auto;
}

.table > tbody > .table-row > td {
    vertical-align: middle;
}

.react-calendar, .react-datetime-picker__button__input__amPm {
    background: @calendar-background;
}
