@media only screen and (min-width: 600px) {
    html {
        background: url('../assets/img/background.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
    }
}

@media only screen and (max-width: 600px) {
    html {
        background: url('../assets/img/background.jpg') no-repeat center center fixed;
        height: 100%;
    }
}

body {
    color: #fff;
    background: none;
}

.root-container {
    padding-top: 100px;
    max-width: 600px;
    margin: auto auto;
}

.table > tbody > .table-row > td {
    vertical-align: middle;
}
