@main-text-color: #fff;
@secondary-text-color: #000;
@calendar-background: #fff;

@container-max-height: 300px;
@container-max-width: 600px;

@container-background: #2c2a36;

@table-container-max-width: 550px;

@button-color: #3488c0;
@button-border-color: #000;
@button-background-image: linear-gradient(to bottom, #ba00ff, #a100dd);
