@import (reference) "../../variables.less";

.all-result-view {
}

div.map-container {
    height: 330px;
    margin: 0 2% 40px 15%;
}

.map-marker {
    color: red;
    font-size: 20px;
    display: inline;
}

.map-text {
    color: #000;
    display: inline;
}

.chart-view {
    margin-top: 10px;
}

.pie-chart-heading {
    font-size: 18px;
    text-transform: uppercase;
}

div.single-chart, .add-test-section {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #343242;
    text-align: center;
}

.add-test-section {
    text-transform: uppercase;
}

.add-test-text {
    font-size: 40px;
    cursor: pointer;
}

.plus-icon {
    font-size: 82.5px;
    height: 100px;
    background-image: -webkit-linear-gradient(bottom, #eb00ff, #dd00ef, #cc00dd); /* For Chrome and Safari */
    background-image: -moz-linear-gradient(bottom, #eb00ff, #dd00ef, #cc00dd); /* For old Fx (3.6 to 15) */
    background-image: -ms-linear-gradient(bottom, #eb00ff, #dd00ef, #cc00dd); /* For pre-releases of IE 10*/
    background-image: -o-linear-gradient(bottom, #eb00ff, #dd00ef, #cc00dd); /* For old Opera (11.1 to 12.0) */
    background-image: linear-gradient(to bottom, #eb00ff, #dd00ef 34%, #cc00dd 53%, #b800c7 68%, #760080); /* Standard syntax; must be last */
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.chart-drop-down {
    margin: 10px 0 0 50px;
    max-width: 300px;
}
